body {
    font-family: $tipografiaprincipal;
    .Presentacion {
        background-color: $colorfondos;
        border: $bordesconfig;
        img {
            @include CanaclusiveIcon(grey);
            } }
            }
