.btnVerMas {
margin: 1rem;
color: rgb(138, 123, 39);
background-color: rgb(118, 126, 107);
border-radius: 5px 15px;
font-size: 15px;
}
.btnVerMenos {
    @extend .btnVerMas;
    background-color: rgb(65, 109, 65);
}